.about-us {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.about-us__section {
    width: 80%;
    min-width: 800px;
    height: calc(100% - 30px);
    min-height: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem 1rem;
    justify-content: center;
}

.section__container {
    display: flex;
    gap: 2rem;
    animation: opacity-slide-down 1s ease-in-out alternate;
}

.section__container--right {
    justify-content: flex-end;
}

.container__icon {
    font-size: 10rem;
    color: #111E6C;
}

.container__content {
    width: 50%;
    min-width: 37rem;
}

.content__title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #111E6C;
    margin-bottom: 1rem;
}

.content__description {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #111E6C;
    overflow-wrap: break-word;
}

.button-pattern {
    margin-top: 1rem;
}

@media only screen and (max-width: 900px) {
    .about-us {
        box-sizing: border-box;
        padding: 1rem .5rem;
    }
    .about-us__section {
        box-sizing: border-box;
        width: 100%;
        min-width: auto;
        margin: unset;
        justify-content: space-evenly;
    }
    .section__container {
        width: 100%;
        gap: 1rem;
    }
    .container__icon {
        font-size: 5rem;
    }
    .container__content {
        width: 100%;
        min-width: auto;
    }
    .content__title {
        font-size: 1.8rem;
    }
    .content__description {
        font-size: 1rem;
        line-height: 1.6rem;
        margin-bottom: .9rem;
    }
}

@media only screen and (max-width: 512px) {
    .about-us {
        height: auto;
    }
    .about-us__section {
        padding: 2rem 0;
    }
    .container__icon {
        display: none !important;
        font-size: 0;
    }
    .container__content {
        box-sizing: border-box;
        text-align: center;
    }
    .content__title {
        font-size: 1.5rem;
    }
    .content__description {
        font-size: .95rem;
        margin-bottom: .8rem;
    }
}