.contact {
    width: 100%;
    height: auto;
    min-height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #111E6C;
}

.contact__contact-container {
    width: 70%;
    min-width: 800px;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
}

.contact-container__inputs {
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.input__label {
    margin: 1rem 0;
    font-weight: bold;
    color: #fff;
}

.inputs__input-pattern {
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    line-height: 5rem;
    padding-left: .5rem;
    color: #fff;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    transition: all .5s ease-in-out;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.inputs__input-pattern:focus {
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid#475cd1;
}

.contact-container__inputs--texarea {
    width: 99%;
}

.text-area {
    width: 100%;
    height: 5rem;
    resize: none;
    line-height: normal;
    align-self: center;
}

.button-pattern--size {
    font-size: 1.1rem;
    padding: 0 3rem;
}

@media only screen and (max-width: 900px) {
    .contact {
        box-sizing: border-box;
        height: auto;
        padding: 1rem .5rem;
    }
    .contact__contact-container {
        box-sizing: border-box;
        width: 100%;
        min-width: auto;
        padding: 1rem 0;
        gap: 1.4rem;
    }
}

@media only screen and (max-width: 512px) {
    .contact-container__inputs {
        width: 100%;
    }
}