.portfolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.portfolio__container-templates {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.container-templates__template {
    width: 25rem;
    height: 20rem;
    border-radius: 5px;
    line-height: 2rem;
    text-align: center;
}

.template__image {
    width: 100%;
    height: 12rem;
    border-radius: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.template__image:hover {
    animation: container-up 1s ease-in-out infinite alternate;
}

.template__create-type {
    font-size: .8rem;
    color: #888;
    text-transform: uppercase;
}

.template__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111E6C;
}

.template__type {
    font-size: 1rem;
    color: #111E6C;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .portfolio {
        box-sizing: border-box;
        padding: 1rem .5rem;
    }
}

@media only screen and (max-width: 512px) {
    .portfolio__container-templates {
        width: 95%;
    }
    .template__image  {
        height: 10rem;
    }
}